<!doctype html>
<html lang="en">


<!-- Mirrored from quomodosoft.com/html/appie/assets/appie-demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 02 Jun 2024 09:38:26 GMT -->
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Thesis</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assets/images/vmu-favicon.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/assets/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/assets/css/custom-animation.css">
    <link rel="stylesheet" href="~/assets/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- responsive css   -->


</head>

<body>
    <!--====== OFFCANVAS MENU PART START ======-->

    <div class="off_canvars_overlay">
    </div>
    <div class="offcanvas_menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="offcanvas-brand text-center mb-40">
                            <img src="~/assets/images/thesis-logo.png" alt="">
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li>
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#service">Dịch vụ</a>
                                </li>
                                <li>
                                    <a href="#members">Đội ngũ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas-social">
                            <ul class="text-center">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-widget-info">
                            <ul>
                                <li><a href="#"><i class="fal fa-envelope"></i> vmuthesis@gmail.com</a></li>
                                <li><a href="#"><i class="fal fa-phone"></i> (+84) 0123456789</a></li>
                                <li><a href="#"><i class="fal fa-map-marker-alt"></i>484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== OFFCANVAS MENU PART ENDS ======-->
    <!--====== PART START ======-->

    <header class="appie-header-area appie-sticky">
        <div class="container">
            <div class="header-nav-box">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                        <div class="appie-logo-box">
                            <a href="#">
                                <img src="~/assets/images/thesis-logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-1 col-sm-1 order-3 order-sm-2">
                        <div class="appie-header-main-menu">
                            <ul>
                                <li>
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#service">Dịch vụ</a>
                                </li>
                                <li>
                                    <a href="#members">Đội ngũ</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-7 col-sm-6 col-6 order-2 order-sm-3">
                        <div class="appie-btn-box text-right">
                            <a class=" animated_btn ml-30" href="/api/download/mobile">Bắt đầu</a>
                            <div class="toggle-btn ml-30 canvas_open d-lg-none d-block">
                                <i class="fa fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <!--====== PART ENDS ======-->
    <!--====== APPIE HERO PART START ======-->

    <section class="appie-hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="appie-hero-content">
                        <span>Chào mừng tới VMU Thesis</span>
                        <h1 class="appie-title">Ở đây chúng tôi giúp bạn!</h1>
                        <p>VMU Thesis là phần mềm hỗ trợ bán hàng cho các siêu thị tại Việt Nam, giúp bạn quản lý toàn bộ hoạt động kinh doanh một cách hiệu quả và chuyên nghiệp.</p>
                        <ul>
                            <li><a class="item-2" href="/api/download/mobile"><i class="fab fa-google-play"></i> Tải xuống cho Android</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="appie-hero-thumb">
                        <div class="thumb">
                            <img src="~/assets/images/hero-thumb-1.png" alt="">
                        </div>
                        <div class="thumb-2">
                            <img src="~/assets/images/hero-thumb-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-shape-1">
            <img src="~/assets/images/shape/shape-2.png" alt="">
        </div>
        <div class="hero-shape-2">
            <img src="~/assets/images/shape/shape-3.png" alt="">
        </div>
        <div class="hero-shape-3">
            <img src="~/assets/images/shape/shape-4.png" alt="">
        </div>
    </section>

    <!--====== APPIE HERO PART ENDS ======-->
    <!--====== APPIE SERVICES PART START ======-->

    <section class="appie-service-area pt-90 pb-100" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="appie-section-title text-center">
                        <h3 class="appie-title">Tại sao nên chọn VMU Thesis?</h3>
                        <p>Chúng tôi tự tin mang đến cho bạn sự tiện lợi ngoài mong đợi. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                        <div class="icon">
                            <img src="~/assets/images/icon/1.png" alt="">
                            <span>1</span>
                        </div>
                        <h4 class="appie-title">Tìm kiếm</h4>
                        <p>Tìm kiếm hàng hóa nhanh chóng</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 item-2 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="400ms">
                        <div class="icon">
                            <img src="~/assets/images/icon/2.png" alt="">
                            <span>2</span>
                        </div>
                        <h4 class="appie-title">Thiết kế</h4>
                        <p>Giao diện đơn giản, dễ nhìn và tiện dụng.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 item-3 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <img src="~/assets/images/icon/3.png" alt="">
                            <span>3</span>
                        </div>
                        <h4 class="appie-title">Bảo mật</h4>
                        <p>Tích hợp hệ thống bảo mật tiên tiến.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-single-service text-center mt-30 item-4 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="800ms">
                        <div class="icon">
                            <img src="~/assets/images/icon/4.png" alt="">
                            <spanF>4</spanF>
                        </div>
                        <h4 class="appie-title">Hỗ trợ</h4>
                        <p>Đội ngũ hơn 200 nhân viên thường trực 24/7.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE SERVICES PART ENDS ======-->
    <!--====== APPIE TEAM PART START ======-->

    <section class="appie-team-area pt-90 pb-100" id="members">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-section-title text-center">
                        <h3 class="appie-title">Những người sáng lập</h3>
                        <p>Họ có những phong cách và suy nghĩ khác nhau, tạo nên một ứng dụng hoàn hảo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                        <div class="thumb">
                            <img src="~/assets/images/thien.jpg" alt="">
                            <ul>
                                <li><a href="https://www.facebook.com/LangTuMuaThuFA"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://github.com/RevolutionD"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <h5 class="title">Lê Đức Thiện</h5>
                            <span>89121</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="400ms">
                        <div class="thumb">
                            <img src="~/assets/images/bien.jpg" alt="">
                            <ul>
                                
                                <li><a href="https://www.facebook.com/profile.php?id=100077522780236"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://github.com/Noname-Gogeto"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <h5 class="title">Đỗ Hồng Biên</h5>
                            <span>89711</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="thumb">
                            <img src="~/assets/images/viet.jpg" alt="">
                            <ul>
                                <li><a href="https://www.facebook.com/profile.php?id=100021925878000"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://github.com/nvviet2002"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                        <div class="content text-center">
                            <h5 class="title">Nguyễn Văn Việt</h5>
                            <span>86710</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE TEAM PART ENDS ======-->
    <!--====== APPIE FOOTER PART START ======-->

    <section class="appie-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-about-widget">
                        <div class="logo">
                            <a href="#"><img src="~/assets/images/thesis-logo.png" alt=""></a>
                        </div>
                        <p>Nhanh chóng - Tiện lợi - An toàn.</p>
                        <a href="#">Xem thêm <i class="fal fa-arrow-right"></i></a>
                        <div class="social mt-30">
                            <ul>
                                <li><a href="https://www.facebook.com/daihochanghaivietnam"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-navigation">
                        <h4 class="title">Công ty</h4>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Dịch vụ</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-navigation">
                        <h4 class="title">Hỗ trợ</h4>
                        <ul>
                            <li><a href="#">Cộng đồng</a></li>
                            <li><a href="#">Faqs</a></li>
                            <li><a href="#">Chính sách</a></li>
                            <li><a href="#">Đối tác</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget-info">
                        <h4 class="title">Chi Tiết</h4>
                        <ul>
                            <li><a href="#"><i class="fal fa-envelope"></i> vmuthesis@gmail.com</a></li>
                            <li><a href="#"><i class="fal fa-phone"></i> (+84) 0123456789</a></li>
                            <li><a href="#"><i class="fal fa-map-marker-alt"></i> 484 Lạch Tray, Kênh Dương, Lê Chân, TP Hải Phòng.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright d-flex align-items-center justify-content-between pt-35">
                        <div class="apps-download-btn">
                            <ul>
                                <li><a class="item-2" href="/api/download/mobile"><i class="fab fa-google-play"></i>Tải xuống cho Android</a></li>
                            </ul>
                        </div>
                        <div class="copyright-text">
                            <p>Copyright © 2024 VMU Thesis. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== APPIE FOOTER PART ENDS ======-->
    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>

    <!--====== wow js ======-->
    <script src="~/assets/js/wow.js"></script>

    <!--====== Slick js ======-->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="~/assets/js/TweenMax.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/assets/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Fontawesome js ======-->
    <!-- <script src="~/assets/js/fontawesome.min.js"></script> -->
    <!--====== Main js ======-->
    <script src="~/assets/js/main.js"></script>

</body>


</html>
